[View in Colaboratory](https://colab.research.google.com/github/kintarou/django-starter/blob/dark-theme/Untitled2.ipynb)

In [29]:
import re
mobile_num_regex = re.compile(r"(\d{3}-\d{4}-\d{4})")
fixed_num_regex = re.compile(r"(\d{4}-\d{2}-\d{4})")
m1 = mobile_num_regex.search('my mobile phone number is 090-6922-2713')
m2 = fixed_num_regex.search('my fixed phone number is 0422-36-5773')
print('find phone number: '+ m1.group())
print('find phone number: '+ m2.group())

find phone number: 090-6922-2713
find phone number: 0422-36-5773

In [0]:
str_org = "pYthon iS a gooD proGramming laNguage"
print(str_org.swapcase()[::-1])

In [12]:
def print_table(table_data):
  cols = len(table_data)
  col_width = [0] * cols
  for i in range(cols):
    col_width[i] = len(max(table_data[i], key=len))
  for i in range(4):
    for j in range(cols):
      print(table_data[j][i].ljust(col_width[j]) + ' ', end='')
    print('')
    
table_data = [
    ['apples', 'oranges', 'cherries', 'bananas'],
    ['Alice', 'Bob', 'Carol', 'David'],
    ['dogs', 'cats', 'moose', 'goose']
]

print_table(table_data)

apples   Alice dogs
oranges  Bob   cats
cherries Carol moose
bananas  David goose